<% if logged_in? %>
    <script type='text/javascript'>
        window.currentUser =  <%= render('api/users/user.json.jbuilder', user: current_user).html_safe %>
    </script>
<% end %>
<head>
    <link href="//db.onlinewebfonts.com/c/0a086e32e41c5e5960b26626757f07f3?family=Apercu" rel="stylesheet" type="text/css"/>
</head>
<main id="root">React Be Broken, Bebe.</main>