// // .meditation-bg {
// //     // display: flex;
// //     // justify-content: center;
// //     // align-items: center;
// //     background-image: image-url('meditation-bg.png');
// //     // background-size:cover;
// //     // height: 58vmax;
// //     // width: 100vmax;
// //     // background-repeat: none;
// //     // z-index: 3;
// //       /* Set rules to fill background */
// //   min-height: 100%;
// //   min-width: 100%;

// //   /* Set up proportionate scaling */
// //   width: auto;
// //   height: auto;
// //   margin: auto;

// //   /* Set up positioning */
// //   position: fixed;
// //   top: a;
// //   left: 0;
// //   z-index: -1;
// // }

// .meditation-bg {
//   display: block;
//   background-image: image-url('meditation-bg.png');
//   background-size: 100%;
//   background-repeat: no-repeat;
//   width: 100%;
//   height: 100%;
// }

// .outer-button {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;
//     background-color:yellow;
// }

// .med-button {
//     transform: scale(.2);
//     position: absolute;
//     background-color: yellowgreen;
// }

// .play-button {
//     position: absolute;
//     bottom: 1px;
//     transform: scale(.55);
//     background-color: violet;
// }

// .play-button:hover {
//     cursor: pointer;
// }

// .med-button:hover {
//     cursor: pointer;
// }

// .med-nav {
//     display: flex;
//     justify-content: flex-start;
//     justify-content: space-between;
//     align-items: center;
//     padding-top: 40px;
//     min-width: 960px;
//     text-transform: uppercase;
//     background:t;
//     z-index: 3;
//     background-color: turquoise;
// }

// .close {
//     background-color: coral;
//     color: #BFBFBF;
// }

// .med-details {
//     background-color:palevioletred;
//     color: #BFBFBF;
// }

// // .hidden {
// //     display: none;
// // }


.med-nav {
    display: flex;
    padding: 40px 0px 0px;
    // background-color: rosybrown;
}

.nav-wrapper {
    margin: 0 auto;
    width: 100%;
    display: flex;
    // justify-content: center;
    // background-color: salmon;
}

.nav-wrapper > .med-details {
    justify-content: center;
}

.close, .med-details{
    color: #BFBFBF;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2.5px;

    // background-color: skyblue;
}

.med-details {
    display: flex;
    align-self: center;
    width: 100%;
}

.close {
    display: flex;
    align-self: flex-start;
    width: 100%;
    height: 100%;
    // background-color: olive;
}

.close-wrapper{
    text-align: left;
    width: 20px;
    height: 20px;
    padding-left: 20px;
    padding-bottom: 5px;
    // margin-left: 10px;
    // width: 100%;
    // background-color: olive;
}

// .close {
//     display: flex;
//     justify-content: flex-start;
// }

.meditation-bg {
  display: block;
  background-image: image-url('meditation-bg.png');
      background-size:cover;
  background-repeat: no-repeat;
//   background-size: cover;
//   width: 100%;
// //   min-height: 51vmax;
//   overflow: hidden;
//   viewport-fit:inherit;
}

// @viewport {
//     height: 100vh;
//   width: 100vw; /*Sets the width of the actual viewport to the device width*/
// }

.bg-wrapper {
  max-width: 960px;
    min-height: 53vw;
    min-width: 100vw;
  margin: 0 auto;
//   background-color: red;
}

@media screen and (max-width:600px) {
  .meditation-bg {
    width: 80%;
    height: 80%;
    display: block;
    margin: auto;
  } 
}

.outer-button {
    display: flex;
    // background-color: powderblue;
}

.button-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: plum;
    
    .med-button {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        transform: scale(.2);
        position: relative;
        overflow: hidden;
        // background-color:wheat;
    }

    .play-button {
        // display: flex;
        // justify-content: center;
        position: absolute;
        transform: scale(.55);
        // background-color: violet;
    }
}

 .med-button:hover, .play-button:hover {
    cursor: pointer;
}