.banner-wrapper {
    display: flex;
    width: 100%;
    height: 600px;
}

.banner {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 100%;
    height: 100%;
    background-image: image-url('meditation-bg.png');
    background-size:cover;
    background-position: center;
}

.session {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 840px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    // background-color: cadetblue;
}

.session-info {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 24px;
    margin-top: 0px;
}

.med-title {
    font-size: 88px;
    font-weight: 700;
    line-height: 96px;
    margin-bottom: 32px;
    margin-top: 0px;
}

.med-buttons {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    margin-right: auto;
}

.med-play {
    -webkit-font-smoothing: antialiased;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    font-family: Apercu, sans-serif;
    text-rendering: optimizelegibility;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2.5px;
    font-size: 12px;
    line-height: 16px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    border: 0px;
    transition: all 0.2s ease-in-out 0s;
    background-color: rgb(66, 66, 66);
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
    border-radius: 28px;
    height: 56px;
    padding-left: 32px;
    padding-right: 32px;
}

.med-play:hover {
    background-color: rgb(58,54,63)
}

.med-dur {
    -webkit-font-smoothing: antialiased;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    font-family: Apercu, sans-serif;
    text-rendering: optimizelegibility;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2.5px;
    font-size: 12px;
    line-height: 16px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    // cursor: pointer;
    border: 2px solid rgb(66, 66, 66);
    transition: all 0.2s ease-in-out 0s;
    color: rgb(65, 61, 71);;
    fill: rgb(191, 191, 191);
    background-color: transparent;
    border-radius: 28px;
    height: 56px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 25px;
}

.med-dur:hover {
    color: rgb(255, 255, 255);
    fill: rgb(65, 61, 71);
    background-color: rgb(65, 61, 71);
    transform: scale(1);
}

.lower-dash-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
    height: 100%;
    width: 100vw;
    // background-color: coral;
}

.lower-dash-wrapper > * {
    flex: 1 100%;
    margin-bottom: 1%;
    margin-left: 18%;
    margin-right: 18%;
    border-radius: 10px;
}

.packs-wrapper, .meds-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
    // background-color: indianred;
}

.divider {
    align-self: center;
    border-bottom: solid 2px;
    border-color: rgb(239, 236, 231);
    width: 100vw;
}

.packs-wrapper > * {
    margin: 0.2%;
    border-radius: 10px;
}

.packs-header {
    display: flex;
    justify-content: center;
    width: 95%;
    font-size: 32px;
    line-height: 48px;
    // background-color: seagreen;
}

.packs-header-details {
    display: flex;
    justify-content: center;
    font-weight: 200;
    font-size: 24px;
    line-height: 40px;
    width: 95%;
    // background-color: tan ;
}

.empty {
    display: inline;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(245, 139, 68);
    padding-top: 30px;
    line-height: 30px;
}

.disc-span {
    color: rgb(58,57,56);
}

.disc-span:hover {
    color: rgb(87,193,186);
}

.med-packs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
    // background-color: indigo;
}

.med-packs > * {
    color: wheat;
    margin: .5%;
    width: 360px;
    height: 444px;
    border-radius: 8px;
    // background-color:tomato;
}

.pack-med-nums {
    font-size: 16px;
    font-weight: 100;
    color: #413D47;
    // background-color: thistle;
}

.packs-discover {
    -webkit-font-smoothing: antialiased;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    font-family: Apercu, sans-serif;
    text-rendering: optimizelegibility;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2.5px;
    font-size: 12px;
    line-height: 16px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid rgb(66, 66, 66);
    transition: all 0.2s ease-in-out 0s;
    color: rgb(65, 61, 71);;
    fill: rgb(191, 191, 191);
    background-color: transparent;
    border-radius: 28px;
    height: 56px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 25px;
    margin-bottom: 40px;
    max-width: 201px;
}

.packs-discover:hover, .singles-discover:hover {
    color: rgb(255, 255, 255);
    fill: rgb(65, 61, 71);
    background-color: rgb(65, 61, 71);
    transform: scale(1);
}

.meds-wrapper > * {
    margin: 0.2%;
    border-radius: 10px;
}

.single-meds {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
    // background-color: indigo;
}

.single-meds > * {
    color: wheat;
    margin: .5%;
    width: 360px;
    height: 444px;
    background-color:rgb(249,247,241);
    border-radius: 8px;
}



.pack-1 {
    background-image: image_url('packThumb7.png');
    background-repeat: no-repeat;
    background-position: center;
}

.pack-2 {
    background-image: image_url('packThumb8.png');
    background-repeat: no-repeat;
    background-position: center;
}

.pack-3 {
    background-image: image_url('packThumb9.png');
    background-repeat: no-repeat;
    background-position: center;
}

.pack-4 {
    background-image: image_url('packThumb4.png');
    background-repeat: no-repeat;
    background-position: center;
}

.pack-5 {
    background-image: image_url('packThumb5.png');
    background-repeat: no-repeat;
    background-position: center;
}

.pack-6 {
    background-image: image_url('packThumb10.png');
    background-repeat: no-repeat;
    background-position: center;
}

.pack-7 {
    background-image: image_url('packThumb1.png');
    background-repeat: no-repeat;
    background-position: center;
}

.pack-8 {
    background-image: image_url('packThumb3.png');
    background-repeat: no-repeat;
    background-position: center;
}

.pack-9 {
    background-image: image_url('packThumb6.png');
    background-repeat: no-repeat;
    background-position: center;
}

.dash-link-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-start;
    width: 80%;
    height: 80%;
    padding-left: 30px;
    padding-top: 50px;
    -webkit-font-smoothing: antialiased;
    font-family: Apercu, sans-serif;
    text-rendering: optimizelegibility;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    line-height: 40px;
    margin-top: 6px;
    color: rgb(65, 61, 71);
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    // background-color: tomato;
}

.singles-discover{
    -webkit-font-smoothing: antialiased;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    font-family: Apercu, sans-serif;
    text-rendering: optimizelegibility;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 2.5px;
    font-size: 12px;
    line-height: 16px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid rgb(66, 66, 66);
    transition: all 0.2s ease-in-out 0s;
    color: rgb(65, 61, 71);;
    fill: rgb(191, 191, 191);
    background-color: transparent;
    border-radius: 28px;
    height: 56px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 25px;
    margin-bottom: 40px;
    max-width: 201px;
}

.dash-link-singles-info {
    display: flex;
    justify-content: center;
    font-size: 24px;
    line-height: 32px;
    margin-top: 300px;
    color: rgb(102, 102, 102);
}

.single-med-dur {
    display: flex;
    justify-content: center;
    height: 90px;
    align-items: flex-end;
    color: rgb(102, 102, 102);
    // background: tomato;
}

.med-1 {
    background-image: image_url('singleLogo1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
}

.med-2 {
    background-image: image_url('singleLogo2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
}

.med-3 {
    background-image: image_url('singleLogo3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
}

.med-4 {
    background-image: image_url('singleLogo4.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
}

.med-5 {
    background-image: image_url('singleLogo5.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
}

.med-6 {
    background-image: image_url('singleLogo6.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
}

.med-7 {
    background-image: image_url('singleLogo1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
}

.med-8 {
    background-image: image_url('singleLogo2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
}

.custom {
    margin-top: 30px;
}

.custom-pack {
    background-image: image_url('custom-pack.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
    color: wheat;
    margin: .5%;
    width: 360px;
    height: 444px;
    border-radius: 8px;
}

.custom-pack-info {
    align-items: center;
}

.custom-packs > * {
    color: wheat;
    margin: .5%;
    width: 360px;
    height: 444px;
    border-radius: 8px;
}