// .single-main-content {
//     height: 115vh;
// }

.single-show-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-top: 2.5px solid rgb(239,236,231);
}

.single-banner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 32px auto 80px;
}

.single-title {
    font-size: 56px;
    line-height: 64px;
    padding-left: 8px;
    margin-bottom: 16px;
    margin-top: 16px;
    font-weight: bold;
    color: #4C4C4C;
}

.single-session-total {
    -webkit-font-smoothing: antialiased;
    font-family: Apercu, sans-serif;
    text-rendering: optimizelegibility;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2.5px;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: rgb(191, 191, 191);
    color: #7F7F7F;
    padding-left: 10px;
}

.single-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 552px;
    min-width: 552px;
    margin: 0px 24px 0px 0px;
    padding-bottom: 200px;
}

.single-info {
    font-weight: 400;
    font-style: normal;
    flex-wrap: wrap;
    font-size: 24px;
    line-height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    color: #4C4C4C;
    -webkit-font-smoothing: antialiased;
}

.single-add-remove {
    display: flex;
    align-items: center;
    height: 56px;
    padding-right: 32px;
    cursor: pointer;

    .remove {
        transform: rotate(45deg);
    }
}

.single-add-add {
    display: flex;
    align-items: center;
    height: 56px;
    padding-right: 32px;
    cursor: pointer;

    .remove {
        transform: rotate(45deg);
    }
}


.single-remove-text {
    font-size: 14px;
    line-height: 16px;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    padding-left: 10px;
    color: rgb(102, 102, 102);
}

.single-image-wrapper {
    display: flex;
    justify-content: center;
    width: 564px;
    height: 376px;
    border-radius: 8px;
    background-color: rgb(249,247,241);
}

.single-image {
    transform: scale(0.6);
    // width: 100%;
    // height: 100%;
}

.single-techniques-wrapper {
    display: flex;
    height: 25vh;
    flex-direction: column;
    background-color: #FAF7F2;
    border-radius: 10px;
    margin-top: 5px;
    padding: 80px 0px 0px;
}

.single-tech-header {
    display: flex;
    justify-content: center;
    color: rgb(102, 102, 102);
    font-size: 32px;
}

.single-tech-images-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.single-tech-image {
    height: 160px;
    width: 160px;
}

.single-techs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 564px;
    height: 224px;
}

.single-tech-title {
    font-size: 24px;
    font-weight: 700;
    margin: 32px 0px 0px;
}

.single-med-bar-closed{
    height: 100px;
    width: 100%;
    background-image: image_url('meditation-bg.png');
    position:fixed;
    bottom: 0;
    overflow: hidden;
    -webkit-transition: height 300ms ease-in;
	-moz-transition: height 300ms ease-in; 
	-ms-transition: height 300ms ease-in;
	-o-transition: height 300ms ease-in; 
    transition: height 300ms ease-in;
}

.single-med-bar-open {
	height: 500px;
    width: 100%;
    bottom: 0;
    background-image: image_url('meditation-bg.png');
    position:fixed;
     -webkit-transition: height 300ms ease-in;
	-moz-transition: height 300ms ease-in; 
	-ms-transition: height 300ms ease-in;
	-o-transition: height 300ms ease-in; 
    transition: height 300ms ease-in;
}

.single-pop-up-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-pop-up-header {
    display: flex;
    width: 1100px;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.single-pop-up-header div:first-child {
    padding-left: 30px;
}

.single-duration, .begin{
    height: 45px;
}

.single-duration {
    width: 130px;
}

.single-begin {
    width: 90px;
}

// .custom-wrap {
//     display: flex;
//     justify-content: center;
//     padding-top: 100px;
// }

.single-med-list-title {
    color: rgb(65, 61, 71);
    margin-left: 24px;
    font-size: 24px;
    line-height: 40px;
}

.single-med-divider {
    height: 8px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}

.single-med-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1100px;
}

.custom-med-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    width: 1100px;
}

.single-med-list {
    width: 100%;
    height: 100%;
}

.single-med-list-item {
    display: flex;
    border-bottom: 2px solid rgb(198,108,49);
    width: 100%;
    height: 106px;
}

.single-med-icon {
    transform: scale(.4);
}

.single-med-text {
    font-size: 24px;
    line-height: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

.single-link-wrap {
    display: flex;
}

.add {
    transform: rotate(50px);
}

.single-footer-open-close {
    height: 46px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 25px;
}

.single-footer-open-close:hover {
    cursor: pointer;
}